html body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-family: 'Inter', 'Poppins', sans-serif;
  }

h1 {
    text-align: center;
    color: #D6312E;
}

p {
    text-align: center;
    color: #ED6E00;
}
  
.bg-custom {
  background-color: #ED6E00;
}


#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 80px;
  background-color: #04AA6D;
}

#blog {
  top: 140px;
  background-color: #2196F3;
}

#projects {
  top: 200px;
  background-color: #f44336;
}

#contact {
  top: 260px;
  background-color: #555
}