/* style for body */ 
html body {
  /* font used */
  font-family: 'Inter', 'Poppins', sans-serif;
  /* background image by SVGBackgrounds.com */
  background-color: #ffaa00;
  background-image: url("images/background.jpg");
  /* set background-attachment to fixed */
  background-attachment: fixed;
  background-size: cover;
}

/* styles for h1 */
h1 {
  /* align the text to center and set color to white */
  text-align: center;
  color: white;
}

/* styles for h2 */
h2 {
  /* align the text to center and set the color to #D6312E; (red) */
  text-align: center;
  color:#D6312E;
}

/* styles for p tag */
p {
  /* align the text to center and set the color to #FFAA00 (Orange)  */
  text-align: center;
  color: #ffaa00;
}

/* styles for nav */
.bg-custom {
  /* sets background color of nav to #ED6E00 (Orange)  */
background-color: #ED6E00;
}

/* box-sizing for website */
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  /* sets the display to inline-block */
  display: inline-block;
  /* no border */ 
  border: none;
  /* sets input fields to white */
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  /* sets background color to #04AA6D */
  background-color: #04AA6D;
  /* sets color to white */
  color: white;
  /* set padding */
  padding: 14px 20px;
  margin: 12px 0 14px;
  /* no border for button */
  border: none;
  cursor: pointer;
  /* sets opacity */
  opacity: 0.9;
}

/* opacity when button is hovered */
button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 8px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; 
}

/* Style the horizontal ruler */
hr {
  /* sets the border to 1px solid black */
  border: 1px solid #000000;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  /* sets the close button in absolute position */
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  /* bold the words */
  font-weight: bold;
  color: #f1f1f1;
}

/* when the close is hovered and in focus, set the color to #f44336 */
.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* (Media Queries) Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/* sets the styles for header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* sets the styles for header h2 */
.header h2 {
  /* align text to center */
  text-align: center;
}

/* styles for progress container - scroll indicator */
.progress-container {
  /* full-width and height at 8px */
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* styles for progress-bar - scroll indicator */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

/* styles for body */
body {
  margin: 0;
}

/* styles for sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 165px;
  background-color: #f1f1f1;
  /* sets the sidebar in a fixed position */
  position: fixed;
  height: 100%;
  overflow: auto; /* enable scroll if required */
}

/* styles when the sidebar is hovered */
.sidebar a, .dropdown-btn {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

/* media queries for sidebar on mobile devices */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* when the sidebar links is active */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* when the sidebar links in not active */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* styles for content */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* media queries for sidebar for tablets and laptop */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative; /* sets position to relative */
  }

  /* float the sidebar navlinks to left */
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* media queries for sidebar on mobile devices */
@media screen and (max-width: 400px) {
  .sidebar {
    text-align: center;  /* align the text to center */
    float: none;
  }
  .sidebar a {
    text-align: center; /* align the text to center */
    float: none;
  }
}

/* styles for flex-container used */
.flex-container {
  /* display the container in flex format */
  display: flex;
  /* display the content in row */
  flex-direction: row;
  font-size: 30px;
  /* align the text to center */
  text-align: center;
  /* background image by SVGBackgrounds.com */
  background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

/* styles for flex-item-left */
.flex-item-left {
  padding: 10px;
  flex: 50%;
}

/* styles for flex-item-right */
.flex-item-right {
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    /* display content in column on mobile */
    flex-direction: column;
  }
}

/* Styles for contact card */
.card {
  /* box shadow for contact card*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* sets the maximum width of the contact card as 300px */
  max-width: 300px;
  /* sets the margin to auto */
  margin: auto;
  /* align the text to center*/
  text-align: center;
  /* font-family used for contact card.  */
  font-family: 'Inter', 'Poppins', sans-serif;
}

/* styles for contact card - StudyPython Developer profile title */
.title {
  color: black;
  font-size: 18px;
}

/* styles for button */
button {
  /* sets border to none - no border */
  border: none;
  /* no outline */
  outline: 0;
  /* display in-line block for button */
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/* styles for button when it is active */
a {
  /* remove underline */
  text-decoration: none;
  font-size: 22px;
  color: black;
}

/* styles for buttons when it is hovered */
button:hover, a:hover {
  opacity: 0.7;
}

/* styles for text input fields in contact us page contact form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* styles for label in contact form */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* styles for submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  /* remove border */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float the button to right */
  float: right;
}

/* styles for submit button when it is hovered.  */
input[type=submit]:hover {
  background-color: #45a049;
}

/* styles for contact form container */
.dcontainer {
  /* set border-radius to 5 points. */
  border-radius: 5px;
  background-color: #f2f2f2;
  /* sets padding to 20px */
  padding: 20px;
}

/* styles for col-25 for form input fields columns */
.col-25 {
  /* float the input and labels at col-25 to left*/
  float: left;
  /* set width to 25%  */
  width: 25%;
  margin-top: 6px;
}

/* styles for col-75 for form input fields columns */
.col-75 {
  /* float the input and labels at col-75 to left */
  float: left;
  /* set width to 75% */
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* The container used for contact form */
.dcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background image from : freepix.com */
  background-image: url(images/flex-background.jpg);
}

/* styles for footer */ 
.footer-color {
  /* sets footer colour to yellow */
  color: yellow;
}

/* styles for buttons in website (animate and hover) */
.btn {
  background-color: #4BF900;
  display: block;
  /* align button text to center */
  text-align: center;
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
	transition: all 0.5s;
	margin: 4px 2px;
	cursor:pointer;
	box-shadow: 0 9px #999;
  /* remove underline */
  text-decoration: none;
}

/* styles for button */
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

/* styles for button */
.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

/* styles for the button when it is hovered. */
.btn :hover span{
  padding-right: 15px;
}

/* styles for the button when it is hovered. */
.btn :hover span:after {
  opacity: 1;
  right: 0;
}

/* styles for the button when it is active */ 
.btn:active {
  background-color: #ED6E00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 

/* styles for typed.js */
.text-slider-items {
  /* sets the display to none by default.*/
  display: none;
}

/* styles for heading used for typed.js */
.heading {
  margin-top: 200px;
  text-align: center;
}

/* styles for heading h1 */
.heading h1 {
  color: limegreen;
  font-size: 70px;
}

/* style for heading h3 */
.heading h3 {
  color: black;
  font-size: 20px;
}

/* styles for parallax scrolling effect */
.parallax {
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
 @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} 

/* styles for table heading and data */
th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
  font-size: large;
  color: orange;
}

/* styles for tr */
tr:nth-child(even) {
  background-color: lightgray;
}

/* styles for tr */
tr:nth-child(odd) {
  background-color: gray;
}

/* styles for ol,li,textlist */
ol , li , .textlist {
  text-align: left;
  font-size: large;
  color:orange;
}
